<div class="container">
    <h3>Bill Details For Ride Id</h3>
    <br>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <label for="rideId">Enter the Ride Id:</label>
            <input type="text" class="form-control" placeholder="Enter Ride Id" name="rideId" id="rideId" ngModel>
           
            <br> 
            <button type="submit" class="btn btn-primary">Fetch</button>
        </form>
    </div>
    <br>
    <br>
    <div class="container">
        <table class="table table-hover">
            <thead class="t-head table-dark">
                <tr>
                    <th>Ride Id</th>
                    <th>Month</th>
                    <th>No. of Kms Travelled in Total</th>
                    <th>Total Bill</th>
                    <th>No. Of Occupants</th>
                     <th>Bill Per Person</th>
                </tr>
            </thead>
            <tbody *ngIf="bills!==undefined">
                <tr class="table-primary" *ngFor="let bill of bills">
                     <td>{{bill.rideId}}</td>
                     <td>{{bill.month}}</td>
                     <td>{{bill.noOfKm}}</td>
                     <td>{{bill.totalbill}}</td>
                     <td>{{bill.noOfOccupants}}</td>
                     <td>{{Floorf(bill.totalbill/bill.noOfOccupants)}}</td>
                </tr>
            </tbody>
        </table>
    </div>