<nav class="navbar navbar-expand-lg" style="background-color: #6457A6;">
    <div class="container-fluid">
      <img src="https://cdn-icons-png.freepik.com/256/89/89102.png?ga=GA1.2.439619496.1712998170&" alt="" style="height: 25px;width: 25px;">
      <a class="navbar-brand" href="#" style="font-family: 'Tilt Neon', sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;">CommunityCommutingApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="rideprovide" style="color: antiquewhite;">RideProvider</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="trip" style="color: antiquewhite;">Manage Trip</a>
          </li>
          <li class="nav-item dropdown">
            <a style="color: antiquewhite;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bill Details
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="billdetail" style="color: black;">BillDetails Of month</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="billsnew" style="color:black;">GenerateBill for rideid</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="smile" style="color: antiquewhite;">Smile-details</a>
          </li>
        </ul>
      </div>  
    </div>
  </nav>