.nav-item{
    font-family: 'Tilt Neon', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.nav-link{
    font-family: 'Tilt Neon', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}