<div class="content" style="left: 30%; padding-top: 20px; padding-left: 250px;">
  <h2>Here is your One stop Solution for travelling problems <img src="https://cdn-icons-png.freepik.com/256/1533/1533913.png?ga=GA1.2.439619496.1712998170&" style="height: 35px; width: 35px;"></h2>
 </div>
 
 <section class="container">
   <img src="https://img.freepik.com/free-vector/taxi-app-interface-concept_23-2148484167.jpg?t=st=1713948567~exp=1713952167~hmac=30cd7bb1ddc97e4cad27936b27d1423719b63523d661021f350058c8b8f79ab2&w=740" style="height:550px; width: 1000px; padding-left: 170px;" >
 </section>

 <section class="container" style="padding-top: 3rem;">
  <div class="display" style="display: flex; padding-left: 10px; flex-flow: row; justify-self: start;">
   <div class="box" style="padding-right: 100px;">
    <div class="card" style="width: 18rem;  border-radius: 15px; border-color: #6457A6;border-width: 7px; ">
      <img src="https://img.freepik.com/free-photo/woman-talking-with-taxi-driver-car_23-2149149589.jpg?t=st=1712999307~exp=1713002907~hmac=576493421096217f94ba283f6f23443b77ebad7201d3cbd5c7da73021079cf0b&w=740" class="card-img-top">
      <div class="card-body" >
        <p class="card-text" style="font-family: 'M PLUS 1 Code', monospace;">
  Here Commuters can easily connect with one another to coordinate rides discuss preferences and plan routes.
      </p>
      </div>
    </div>
   </div>
    <div class="box">
      <div class="card" style="width: 18rem; border-radius: 15px; border-color: #6457A6;border-width: 7px;">
        <img src="https://img.freepik.com/free-photo/businesswoman-sitting-backseat-taxi_23-2149236699.jpg?t=st=1712999451~exp=1713003051~hmac=7e0a0e257deb710325e16daf0ede684e2489fb1e309ef233d9890c8a26aa5716&w=740" class="card-img-top">
        <div class="card-body">
          <p class="card-text"style="font-family: 'M PLUS 1 Code', monospace;
          font-optical-sizing: auto;">We provide ease and comfort ensuring a seamless and enjoyable experience for all commuters.Our vehicles also equipped with modern ammenities.</p>
        </div>
      </div>
    </div>
   <div class="box" style="padding-left: 100px;">
    <div class="card" style="width: 18rem; border-radius: 15px; border-color: #6457A6;border-width: 7px;">
      <img src="https://img.freepik.com/free-photo/portrait-business-woman-using-her-mobile-phone-way-work-car_58466-16283.jpg?t=st=1713000183~exp=1713003783~hmac=4cb14128fced6325e762ab83de46b4f21d880ac43b826f99415ac01bf5998239&w=740" class="card-img-top">
      <div class="card-body">
        <p class="card-text" style="font-family: 'M PLUS 1 Code', monospace;
        font-optical-sizing: auto;">Our app is designed with user-friendly interface offering intuitive features that seamlessly connnects residents seaking rides.</p>
      </div>
    </div>
   </div>
  </div>
</section>
